pymongo
langdetect
langcodes
language_data
justext
publicsuffixlist
newspaper3k
goose3
python-whois
beautifulsoup4
brotli
dateparser
python-dateutil
python-dev
Unidecode
url_normalize
numpy
pandas
regex
numexpr
pytest
scikit-learn
azure-identity
azure-keyvault-secrets
fastapi
uvicorn